<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- TimeZone list http://timezonedb.com/time-zones -->
		<add key="timezone" value="Asia/Dubai" />
		<add key="apiKey" value="API KEY" />
		<add key="autoConfirm" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>